<div class="max-w-4xl mx-auto p-6">
  <h1 class="text-3xl font-bold mb-6">{{title}}</h1>
  <p class="mb-4">Dobrodošli u Dnevni planer zadataka!</p>
  {{#if userEmail}}
  <p class="mb-4">Prijavljeni ste kao <strong>{{userEmail}}</strong>. 
    <a href="/users/profile" class="inline-block py-2 px-4 bg-blue-600 text-white rounded hover:bg-blue-700">Napravite zadatak</a> 
    <a href="/users/signout" class="inline-block py-2 px-4 bg-blue-600 text-white rounded hover:bg-blue-700">Odjavi se</a>
  </p>
  {{else}}
  <p class="mb-4">Za početak, 
    <a href="/users/signin" class="inline-block py-2 px-4 bg-blue-600 text-white rounded hover:bg-blue-700">Prijavi se</a> 
    <a href="/users/signup" class="inline-block py-2 px-4 bg-blue-600 text-white rounded hover:bg-blue-700">Registriraj se</a>
  </p>
  {{/if}}
</div>